harness_account_id       = "uZuUmmrnT4qQRx5XF0ZtkQ"
harness_platform_api_key = "pat.xxxxx"

aws_region  = "us-east-1"
aws_profile = "harness-impeng-play"

eks_cluster_name       = "merck-poc-chaos-control-cluster"
eks_cluster_version    = "1.31"
eks_node_instance_type = "t3.large"
eks_node_desired_size  = 3
eks_node_min_size      = 1
eks_node_max_size      = 3

install_delegates  = true
create_aws_iam     = true
create_rbac        = true
create_chaos_guard = false
